MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
QDRANT_URL=https://YOURNAMESPACE-qdrant.user.lab.sspcloud.fr/
QDRANT_API_KEY=
QDRANT_API_PORT=443
LLMLAB_URL=https://llm.lab.sspcloud.fr/api
LLMLAB_API_KEY=
MODEL_RUN_ID=
